@page "/markdown-editor"
@page "/docs/guides/components/markdowneditor.html"

<RadzenText TextStyle="TextStyle.H2" TagName="TagName.H1" class="rz-pt-8">
    MarkdownEditor
</RadzenText>
<RadzenText TextStyle="TextStyle.Subtitle1" TagName="TagName.P" class="rz-pb-4">
    Demonstration and configuration of the Radzen Blazor <strong>MarkdownEditor</strong> component.
</RadzenText>

<RadzenText Anchor="markdown-editor#get-set-value" TextStyle="TextStyle.H5" TagName="TagName.H2" class="rz-pt-8">
    Get and set the value
</RadzenText>
<RadzenText TextStyle="TextStyle.Body1" class="rz-mb-8">
    As all Radzen Blazor input components the MarkdownEditor has a <code>Value</code> property which gets and sets the value of the component. Use <code>@@bind-Value</code> to get the user input.
</RadzenText>
<RadzenExample ComponentName="MarkdownEditor" Example="MarkdownEditorGetSetValue">
    <MarkdownEditorGetSetValue />
</RadzenExample>

<RadzenText Anchor="markdown-editor#all-tools" TextStyle="TextStyle.H5" TagName="TagName.H2" class="rz-pt-12">
    All tools
</RadzenText>
<RadzenText TextStyle="TextStyle.Body1" class="rz-mb-8">
The Radzen MarkdownEditor supports the following tools:
</RadzenText>
<RadzenText TextStyle="TextStyle.Body1">
    <ul style="line-height: 2rem">
        <li>RadzenMarkdownEditorBold - toggles the bold style of the selected text.</li>
        <li>RadzenMarkdownEditorItalic - toggles the italic style of the selected text.</li>
        <li>RadzenMarkdownEditorUnderline - toggles the underline style of the selected text.</li>
        <li>RadzenMarkdownEditorStrikeThrough - toggles the strikethrough style of the selected text.</li>
        <li>RadzenMarkdownEditorUnorderedList - inserts unordered (bullet) list.</li>
        <li>RadzenMarkdownEditorOrderedList - inserts ordered (numbered) list.</li>
        <li>RadzenMarkdownEditorLink - inserts a hyperlink.</li>
        <li>RadzenMarkdownEditorImage - allows the user to insert an image by either uploading a file or selecting a URL. Requires File upload to be implemented and the UploadUrl property of the MarkdownEditor to be set.</li>
        <li>RadzenMarkdownEditorSource - edit the Markdown source as text.</li>
        <li>RadzenMarkdownEditorCustomTool - allows the developer to implement a custom tool.</li>
    </ul>
</RadzenText>

<RadzenText Anchor="markdown-editor#custom-set-of-tools" TextStyle="TextStyle.H5" TagName="TagName.H2" class="rz-pt-12">
    Custom set of tools (text-editing only)
</RadzenText>
<RadzenText TextStyle="TextStyle.Body1" class="rz-mb-8">
    Here is how to specify a custom set of tools.
</RadzenText>
<RadzenExample ComponentName="MarkdownEditor" Example="MarkdownEditorCustomToolsSet">
    <MarkdownEditorCustomToolsSet />
</RadzenExample>

<RadzenText Anchor="markdown-editor#upload" TextStyle="TextStyle.H5" TagName="TagName.H2" class="rz-pt-12 rz-mb-6">
    Upload images
</RadzenText>
<RadzenText TextStyle="TextStyle.Body1" class="rz-mb-8">
    You can insert images by pasting them or using the <strong>RadzenMarkdownEditorImage</strong> tool. By default images are inserted as base64 encoded strings.
    To upload images to the server you need to implement a file upload endpoint and set the <code>UploadUrl</code> property of the RadzenMarkdownEditor component:
    <code>&lt;RadzenMarkdownEditor @@bind-Value=@@markdownValue UploadUrl="upload/image" /&gt;</code>.
    For a sample implementation check the <code>UploadController.cs</code> tab.
</RadzenText>
<RadzenExample ComponentName="MarkdownEditor" Example="MarkdownEditorUploadUrl" AdditionalSourceCodePages="@(new [] { "../../RadzenBlazorDemos.Host/Controllers/UploadController.cs"})" >
    <MarkdownEditorUploadUrl />
</RadzenExample>
<RadzenText Anchor="markdown-editor#focus" TextStyle="TextStyle.H5" TagName="TagName.H2" class="rz-pt-12 rz-mb-6">
    Focus
</RadzenText>
<RadzenExample ComponentName="MarkdownEditor" Example="MarkdownEditorFocus">
    <MarkdownEditorFocus />
</RadzenExample>

<RadzenText Anchor="markdown-editor#keyboard-navigation" TextStyle="TextStyle.H5" TagName="TagName.H2" class="rz-pt-12">
    Keyboard Navigation
</RadzenText>
<RadzenText TextStyle="TextStyle.Body1" class="rz-mb-8">
    The following keys or key combinations provide a way for users to navigate and interact with Radzen Blazor MarkdownEditor component.
</RadzenText>

<RadzenTable>
    <RadzenTableHeader>
        <RadzenTableHeaderRow>
            <RadzenTableHeaderCell colspan="2">Press this key</RadzenTableHeaderCell>
            <RadzenTableHeaderCell rowspan="2">To do this</RadzenTableHeaderCell>
        </RadzenTableHeaderRow>
        <RadzenTableHeaderRow>
            <RadzenTableHeaderCell>Windows, Chrome OS</RadzenTableHeaderCell>
            <RadzenTableHeaderCell>Mac</RadzenTableHeaderCell>
        </RadzenTableHeaderRow>
    </RadzenTableHeader>
    <RadzenTableBody>
        <RadzenTableRow>
            <RadzenTableCell><RadzenBadge Text="Tab" /></RadzenTableCell>
            <RadzenTableCell><RadzenBadge Text="Tab" /></RadzenTableCell>
            <RadzenTableCell>Navigate to a MarkdownEditor component.</RadzenTableCell>
        </RadzenTableRow>
        <RadzenTableRow>
            <RadzenTableCell><RadzenBadge Text="Ctrl" /> + <RadzenBadge Text="A" /></RadzenTableCell>
            <RadzenTableCell><RadzenBadge Text="⌘" /> + <RadzenBadge Text="A" /></RadzenTableCell>
            <RadzenTableCell>Select all text.</RadzenTableCell>
        </RadzenTableRow>
        <RadzenTableRow>
            <RadzenTableCell><RadzenBadge Text="Ctrl" /> + <RadzenBadge Text="C" /></RadzenTableCell>
            <RadzenTableCell><RadzenBadge Text="⌘" /> + <RadzenBadge Text="C" /></RadzenTableCell>
            <RadzenTableCell>Copy.</RadzenTableCell>
        </RadzenTableRow>
        <RadzenTableRow>
            <RadzenTableCell><RadzenBadge Text="Ctrl" /> + <RadzenBadge Text="V" /></RadzenTableCell>
            <RadzenTableCell><RadzenBadge Text="⌘" /> + <RadzenBadge Text="V" /></RadzenTableCell>
            <RadzenTableCell>Paste.</RadzenTableCell>
        </RadzenTableRow>
        <RadzenTableRow>
            <RadzenTableCell><RadzenBadge Text="Ctrl" /> + <RadzenBadge Text="B" /></RadzenTableCell>
            <RadzenTableCell><RadzenBadge Text="⌘" /> + <RadzenBadge Text="B" /></RadzenTableCell>
            <RadzenTableCell>Bold.</RadzenTableCell>
        </RadzenTableRow>
        <RadzenTableRow>
            <RadzenTableCell><RadzenBadge Text="Ctrl" /> + <RadzenBadge Text="I" /></RadzenTableCell>
            <RadzenTableCell><RadzenBadge Text="⌘" /> + <RadzenBadge Text="I" /></RadzenTableCell>
            <RadzenTableCell>Italic.</RadzenTableCell>
        </RadzenTableRow>
        <RadzenTableRow>
            <RadzenTableCell><RadzenBadge Text="Ctrl" /> + <RadzenBadge Text="U" /></RadzenTableCell>
            <RadzenTableCell><RadzenBadge Text="⌘" /> + <RadzenBadge Text="U" /></RadzenTableCell>
            <RadzenTableCell>Underline.</RadzenTableCell>
        </RadzenTableRow>
        <RadzenTableRow>
            <RadzenTableCell><RadzenBadge Text="Ctrl" /> + <RadzenBadge Text="K" /></RadzenTableCell>
            <RadzenTableCell><RadzenBadge Text="⌘" /> + <RadzenBadge Text="K" /></RadzenTableCell>
            <RadzenTableCell>Insert or edit a link.</RadzenTableCell>
        </RadzenTableRow>
        <RadzenTableRow>
            <RadzenTableCell><RadzenBadge Text="Ctrl" /> + <RadzenBadge Text="Z" /></RadzenTableCell>
            <RadzenTableCell><RadzenBadge Text="⌘" /> + <RadzenBadge Text="Z" /></RadzenTableCell>
            <RadzenTableCell>Undo.</RadzenTableCell>
        </RadzenTableRow>
        <RadzenTableRow>
            <RadzenTableCell><RadzenBadge Text="Ctrl" /> + <RadzenBadge Text="Shift" /> + <RadzenBadge Text="Z" /></RadzenTableCell>
            <RadzenTableCell><RadzenBadge Text="⌘" /> + <RadzenBadge Text="Shift" /> + <RadzenBadge Text="Z" /></RadzenTableCell>
            <RadzenTableCell>Redo.</RadzenTableCell>
        </RadzenTableRow>
    </RadzenTableBody>
</RadzenTable>
